.github
.git
.gitlab-ci.yml
compose.deploy.yaml
deployment.env.example
setup.sh
.DS_Store
docs
kubernetes
browser-extension
research-toolbox
node_modules
/.svelte-kit
/package
.env
.env.*
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
__pycache__
.idea
venv
_old
uploads
.ipynb_checkpoints
**/*.db
_test
test
tests
backend/open_webui/test
cypress
playwright
backend/data/*
